* {
  font-family: "Comfortaa", cursive;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5c5b5b;
}

body {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #007474;
  height: 70px;
}

.icon {
  margin-right: 7px;
}

header * {
  color: #fff;
}

header h1 {
  margin-top: 13px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li a {
  display: block;
  font-size: 1.2rem;
  padding: 20px;
}

header ul li a:hover {
  background-color: #006669;
  transition: 0.5s;
  color: #fff;
}

header ul li ul {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 190px;
  background: #fff;
  right: 0;
  top: 69.5px;
  z-index: 10000;
}

header ul li:hover ul {
  display: flex;
}

header ul li ul li a {
  padding: 10px;
}

header ul li ul li a {
  color: #006669;
  /* background-color: #fff; */
}

.carousel {
  height: 300px;
}

.carousel-item {
  border-radius: 10px;
  height: inherit;
}

.carousel-inner,
.carousel-item {
  border-radius: 4px;
}

.carousel-caption {
  right: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.slider-title {
  text-align: center;
}

.slider-img {
  object-fit: cover;
}

.slide-label {
  font-size: 2rem;
  margin: 0;
}
.slide-label a {
  height: 100%;
  margin: 0;
  color: #fff;
  opacity: 0.7;
}

.content-title {
  margin-left: 10px;
}

.post {
  margin-bottom: 30px;
}

.post_text {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.post-title {
  padding: 15px 0;
}

.post-title__link:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search,
.topics {
  padding: 20px;
  background-color: #fff;
}

.search__input {
  padding: 10px 12px;
  display: block;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ececec;
  font-size: 1rem;
  line-height: 1.5rem;
}

.topics-list {
  padding: 0;
  margin: 0;
}

.topics-item {
  list-style-type: none;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}

.topics-item__link {
  padding: 8px 0;
  display: block;
  transition: padding 0.3s;
}

.topics-item__link:hover {
  padding-left: 10px;
}

.footer {
  position: relative;
  background-color: #303036;
  color: #d3d3d3;
}

.footer-section {
  padding: 22px;
}

.footer-title {
  margin-bottom: 20px;
  color: #fff;
}

.contacts-item {
  display: block;
  font-size: 1em;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  gap: 10px;
}
.socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding-top: 2px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  color: #fff;
  transition: border 0.3s;
}

.socials-item:hover {
  border-color: #fff;
}

.links-list {
  margin: 0;
  padding: 0;
}

.links-item__link {
  display: block;
  padding: 8px;
  transition: padding 0.3s;
}

.links-item__link:hover {
  padding-left: 20px;
}

.contact-input {
  background-color: #272727;
  color: #bebdbd;
  padding: 8px;
  margin-bottom: 10px;
  line-height: 1.5rem;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.contact-btn {
  color: #fff;
}

.contact-btn:hover {
  border: 1px solid #bebdbd;
}
